doctype
html
    head
        title My Site - #{title}
        block scripts
            script(src='/js/script.js')
    body
        block heder
            include ../partical/_header

        block content

        block footer
            include ../partical/_footer
