doctype
html
  head
    title Main Page
    block meta
      include  ../partical/_meta
    block links
      include ../partical/_links
  body

    #main-wrapper
      block header
        include ../partical/_header
      .content
        block content
    block footer
      include ../partical/_footer
    block scripts
      include ../partical/_scripts
