doctype
html
    head
        title Main Page
        block links
            include ../partical/_links
        block scripts
            include ../partical/_scripts
    body
        block heder
            include ../partical/_header

        block content

        block footer
            include ../partical/_footer
