.buy
  .container
    .row
      .col-sm-6
        .buy__wrapper.buy__wrapper_type_left
          i.ico.ico-cash
          .buy__button.btn.btn_lg Пополняй баланс
      .col-sm-6
        .buy__wrapper.buy__wrapper_type_right
          i.ico.ico-auto
          .buy__button.btn.btn_lg Продай свои скины