footer.footer#main-footer
  .container
    .row
      .col-sm-5.col-xs-12
        .footer__item.footer__item_type_logo
          a(href="#")
            img(src="/img/logo-footer.png")
        .footer__item.footer__item_type_nav
          .footer-nav.footer-nav_type_nav
            .footer-nav__wrapper.footer-nav__wrapper_type_left
              a(href="#").footer-nav__item Купить вещи cs go
              a(href="#").footer-nav__item Открыть кейсы cs go
            .footer-nav__wrapper.footer-nav__wrapper_type_left
              a(href="#").footer-nav__item Купить вещи dota 2
              a(href="#").footer-nav__item Открыть кейсы dota 2
      .col-sm-2.col-xs-12
        .footer__item.footer__item_type_webmoney
          img(src="/img/webmoney-logo.png")
      .col-sm-5.col-xs-12
        .footer__item.footer__item_type_socials
          ul.socials.socials_type_footer
            li.socials__item.socials__item_type_vk
              a(href="#")
                i.fa.fa-vk(aria-hidden="true")
            li.socials__item.socials__item_type_fb
              a(href="#")
                i.fa.fa-facebook(aria-hidden="true")
        .footer__item.footer__item_type_text
          .footer-nav.footer-nav_type_text
            .footer-nav__wrapper.footer-nav__wrapper_type_left
              a(href="#").footer-nav__item <i class="ico ico-pole-flag"></i> Украина
              a(href="#").footer-nav__item <i class="ico ico-mail"></i> info.lootstore@gmail.com
            .footer-nav__wrapper.footer-nav__wrapper_type_left
              a(href="#").footer-nav__item Вы можете подписаться <br /> на  наши группы в <br /> социальных  сетях
