link(href='/vendor/normalize-css/normalize.css' type='text/css' rel="stylesheet")
link(href='/vendor/bootstrap/dist/css/bootstrap.min.css' type='text/css' rel="stylesheet")
link(href='/vendor/components-font-awesome/css/font-awesome.min.css' type='text/css' rel="stylesheet")
link(href='/css/main.css' type='text/css' rel="stylesheet")
