.responsive
  h1.responsive__header.header-title
    span купуй українське
  .container
    .row
      .col-sm-6
        a(href="#shop-dota").responsive__item.resposive__item_type_shop-dota
          img(src="/img/responsive-shop-dota.png").responsive__img.responsive__img_type_shop-dota
          .responsive__text магазин <span>dota 2</span>
      .col-sm-6
        a(href="#case-dota").responsive__item.resposive__item_type_case-dota
          img(src="/img/responsive-case-dota.png").responsive__img.responsive__img_type_case-dota
          .responsive__text кейсы <span>dota 2</span>
      .col-sm-6
        a(href="#case-csgo").responsive__item.resposive__item_type_case-csgo
          img(src="/img/responsive-case-csgo.png").responsive__img.responsive__img_type_case-csgo
          .responsive__text кейсы <span>cs:go</span>
      .col-sm-6
        a(href="#shop-csgo").responsive__item.resposive__item_type_shop-csgo
          img(src="/img/responsive-shop-csgo.png").responsive__img.responsive__img_type_shop-csgo
          .responsive__text магазин <span>cs:go</span>
