.stock
  .container
    .row
      .col-sm-12
        .stock__btn.btn.btn_sm перейти
        .stock__img
          img(src="/img/stock-item.png")
        .stock__wrapper
          .stock__text.stock__text_type_stock Акция
          .stock__text Самая <br> низкая цена
          .stock__text.stock__text_type_price 75

