.buy
  border: 1px solid #b0b0b0
  background-color: #d0d0d0
  border-left: none
  border-right: none
  box-shadow: 0 0 9px rgba(#000, .46)
  &__wrapper
    padding: 50px 0 0 0
    height: 145px
    &_type_left
      color: inherit
      border-right: 1px solid #b0b0b0
      &:hover
        i
          background-position: -675px -5px
      i
        display: block
        float: right
        margin: -40px 0 0
      .btn
        float: left
    &_type_right
      color: inherit
      &:hover
        i
          background-position: -241px -5px
      i
        display: block
        float: left
        margin: -40px 0 0
      .btn
        float: right